<body class="mat-app-background">

    <mat-toolbar>
        <span>
            <button mat-icon-button [matMenuTriggerFor]="meuMenu" #menuTrigger="matMenuTrigger"
                (click)="menuTrigger.openMenu()">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #meuMenu="matMenu">
                <button mat-menu-item routerLink="/">
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </button>
                <button mat-menu-item routerLink="/biblioteca">
                    <mat-icon>menu_book</mat-icon>
                    <span>Biblioteca</span>
                </button>
                <button mat-menu-item routerLink="/exemplos">
                    <mat-icon>hexagon</mat-icon>
                    <span>Exemplos</span>
                </button>
                <button mat-menu-item routerLink="/formulario">
                    <mat-icon>feed</mat-icon>
                    <span>Formulário</span>
                </button>
                <button mat-menu-item routerLink="/formulario-material">
                    <mat-icon>view_compact_alt</mat-icon>
                    <span>Formulário Material</span>
                </button>
                <button mat-menu-item routerLink="/tabela-material">
                    <mat-icon>toc</mat-icon>
                    <span>Tabela Material</span>
                </button>
                <button mat-menu-item routerLink="/cadastro-cores">
                    <mat-icon>format_paint</mat-icon>
                    <span>Cadastro de Cores</span>
                </button>
                <button mat-menu-item routerLink="/flexbox-exemplo">
                    <mat-icon>takeout_dining</mat-icon>
                    <span>Exemplo Flexbox</span>
                </button>
            </mat-menu>
        </span>
        <span>MEU APP</span>
    </mat-toolbar>

    <nav>
        <ul class="menuNovo">
            <li><button mat-menu-item routerLink="/">
                <span class="itemMenu">
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                    </span>
                </button></li>
            <li><button mat-menu-item routerLink="/biblioteca">
                <span class="itemMenu">
                    <mat-icon>menu_book</mat-icon>
                    <span>Biblioteca</span>
                </span>
                </button></li>
            <li><button mat-menu-item routerLink="/exemplos">
                <span class="itemMenu">
                    <mat-icon>hexagon</mat-icon>
                    <span>Exemplos</span>
                </span>
                </button></li>
            <li><button mat-menu-item routerLink="/formulario">
                <span class="itemMenu">
                    <mat-icon>feed</mat-icon>
                    <span>Formulário</span>
                </span>
                </button></li>
            <li><button mat-menu-item routerLink="/formulario-material">
                <span class="itemMenu">
                    <mat-icon>view_compact_alt</mat-icon>
                    <span>Formulário Material</span>
                </span>
                </button></li>
            <li><button mat-menu-item routerLink="/tabela-material">
                <span class="itemMenu">
                    <mat-icon>toc</mat-icon>
                    <span>Tabela Material</span>
                </span>
                </button></li>
            <li><button mat-menu-item routerLink="/cadastro-cores">
                <span class="itemMenu">
                    <mat-icon>format_paint</mat-icon>
                    <span>Cadastro de Cores</span>
                </span>
                </button></li>
            <li><button mat-menu-item routerLink="/flexbox-exemplo">
                    <span class="itemMenu">
                    <mat-icon>takeout_dining</mat-icon>
                    <span>Exemplo Flexbox</span>
                    </span>
                </button>
            </li>
        </ul>
    </nav>

    <router-outlet />

</body>