<style>

.item {
        text-align: center;
    }

    .item1 { background-color: black;
     }
    .item2 { background-color: #a52a2a;
        flex: 1 1 200px;
    }
    .item3 { background-color: red; }
    

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: aqua;
    }


</style>

<div class="container">
    <div class="item item1">ITEM 1</div>
    <div class="item item2">ITEM 2</div>
    <div class="item item3">ITEM 3</div>
</div>